
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header nav{
    padding: 0 7%;
    height: 64px;
    box-shadow: 0px 30px 18px -18px #000;
    position: relative;
    padding: 0px 8%;
    z-index: 99;
}

header nav>img{
    width: 14%;
    float: left;
}

header nav>ul{
    float: right;
    list-style: none;
    height: 100%;
    margin: 0;
}

header nav>ul li{
    display: inline-block;
    height: 100%;
}
header nav>ul li a {
    text-decoration: none;
    padding: 15% 35px;
    display: block;
    -webkit-background-image: linear-gradient(to right,#263e74,#28006a);
    background-image: linear-gradient(to right,#263e74,#28006a);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: bold;
}

header nav>ul li a.active{
    -webkit-background-image: linear-gradient(to right,#263e74,#28006a);
    background-image: linear-gradient(to right,#263e74,#28006a);
    -webkit-background-clip: unset;
    background-clip: unset;
    color: white;
}

header>div{
    display: block;
    width: 100%;
    height: 312px;
    background-position: center;
    background-size: cover;
    position: relative;
}

header>div .overlay{
    display: block;
    width: 100%;
    height: 100%;
    opacity: .4;
    background-image: linear-gradient(to right,#fff,#000);
}
header>div article{
    position: absolute;
    top: 18%;
    left: 10%;
    width: 45%;
    color:#1c004a;;
}
header>div article h1{
    font-size: 45px;
    margin-bottom: 10px;
}
header>div article P{
    font-size: 20px;
    text-align: justify;
    margin-top: 5px;
}


/* Cours Contenu */

#container{
    width: 90%;
    margin: 0 auto;
    position: relative;
}

#container section{
    width: 75%;
    float: left;
    padding: 20px;
}

#container section h2{
    font-size: 32px;
}

#container section p{
    font-size: 14px;
    text-align: justify;
    color: #666;
}
#container section>aside{
    margin: 40px auto;
    width: 60%;
}
#container section>aside a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: bold;
}

#container section>aside a:first-child{
    -webkit-background-image: linear-gradient(to right,#263e74,#28006a);
    background-image: linear-gradient(to right,#263e74,#28006a);
    color: #fff;
    margin-right: 50px;
}
#container section>aside a:last-child{
    border: 1px solid #28006a;
    color: #28006a;
}

#container>aside{
    width: 20%;
    position: absolute;
    height: 100%;
    right: 0;
    box-shadow: -8px 4px 13px -5px #333;
}
#container>aside ul{
    list-style: none;
    margin-top: 30px;
}
#container>aside ul li{
    margin-bottom: 25px;
}
#container aside ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    -webkit-background-image: linear-gradient(to right,#263e74,#28006a);
    background-image: linear-gradient(to right,#263e74,#28006a);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}